/* Wiggle animation */
@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(20deg); }
  40%  { transform: rotate(-20deg); }
  60%  { transform: rotate(5deg); }
  80%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* Apply on hover */
.wiggle-hover {
  display: inline-block; /* IMPORTANT */
    animation: wiggle 0.6s ease-in-out;
}
