@import "tailwindcss";
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

 font-family: "Poppins", "Roboto", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* text-align: center; */
  
}
:root::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.hide-scrollbar {
  /* overflow: auto;              or scroll */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
