@import "tailwindcss";
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

 font-family: "Poppins", "Roboto", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* text-align: center; */
  
}
:root::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.hide-scrollbar {
  /* overflow: auto;              or scroll */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}


/* ============animation ========== */
@keyframes slideRightFade {
  from { opacity: 0; transform: translateX(-30px);}
  to {opacity: 1;transform: translateX(0);}
}
.slide-right {
  animation: slideRightFade 0.6s ease forwards;
}

@keyframes slideLeft {
  from { opacity: 0; transform: translateX(30px); }
  to   { opacity: 1; transform: translateX(0); }
}
.slide-left { animation: slideLeft 0.6s ease forwards; }
/* =============================== */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}
.slide-up { animation: slideUp 0.6s ease forwards; }

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-30px); }
  to   { opacity: 1; transform: translateY(0); }
}
.slide-down { animation: slideDown 0.6s ease forwards; }
/* ========================================= */
@keyframes popup {
  0%   { opacity: 0; transform: scale(0.85); }
  100% { opacity: 1; transform: scale(1); }
}
.popup { animation: popup 0.3s ease forwards; }
@keyframes ripple {
  0%   { opacity: 0; transform: scale(0.94); }
  40%  { opacity: 1; transform: scale(1.03); }
  100% { transform: scale(1); }
}

.ripple {
  animation: ripple 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
/* =============================================== */